.row {
    width: 100%;
    display: flex;
    gap: var(--gap, 0);

    + .row {
        margin-top: var(--gap, 0);
    }

    @media @small {
        flex-wrap: wrap;
    }
}

@column-count: 12;
@small: ~"(max-width: 800px)";

.make-grid-columns(@colcount) {
    .col-loop(@index) when (@index > 0) {
        .col-@{index} {
            width: (@index * (100% / @colcount));

            @media @small {
                width: 100%;
            }
        }
        .col-loop((@index - 1));    // recurse
    }

    .col-loop(@colcount);   // start loop
}

.make-grid-columns(@column-count);
