@use "sass:math";
$small: "(max-width: 800px)";

.row {
    width: 100%;
    display: flex;
    gap: var(--gap, 0);

    + .row {
        margin-top: var(--gap, 0);
    }

    @media #{$small} {
        flex-wrap: wrap;
    }
}

$column-count: 12;
@for $i from 1 through $column-count {
    .col-#{$i} {
        width: $i * math.div(100%, $column-count);
        
        @media #{$small} {
            width: 100%;
        }
    }
}